body{
    background-color: rgb(199, 198, 198);
}

.header{
    background-color: Dark Gray;
    height: 200px;
	 padding: 7px;
	width: 784px
}

.navbar ul{
    list-style-type: none;
}

.navbar li{
    display: inline;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar{
    height: 3vw;
    background-color: sandybrown;
    margin-top: -18px;
    
 }
 .sidebar{
     height: 26vw;
     width: 30%;
     background-color: Yellow;
     float: left;
 }
 .content{
    height: 26vw;
    width: 70%;
    background-color: Violet;
    float: right;
 }
 .footer{
    background-color: Light Steel Blue;
     width: 100%;
     height: 4vw;
     float: left;
 }

 .footer p{
     margin-left: 5px;
 }